@model X.PagedList.IPagedList<RestaurantListViewModel>


@{
    ViewData["Title"] = "Home Page";
}

<form method="get"
      data-otf-ajax="true" data-otf-target="restaurantList">

        <input type="search" name="searchterm" value="" data-otf-autocomplete="@Url.Action("Autocomplete")" />
        <input type="submit" value="search by name"/>
</form>
@System.Threading.Thread.CurrentThread.CurrentCulture /
@System.Threading.Thread.CurrentThread.CurrentUICulture
@{
    var amount = 10.0m;
    var someDate = new DateTime(2022, 11, 15);
}
<div>@OdeToCode.Resources.Views.Home.Index.Greeting</div>
<div>@amount.ToString("c")</div>
<div>@someDate.ToShortDateString()</div>

<partial name="_Restaurants" model="Model"/>


