@model IEnumerable<OdeToCode.Models.RestaurantReview>

@{
    ViewData["Title"] = "Index";
}

<h1>THE LATEST REVIEWS</h1>

we are showing the latest @Model.Count() reviews


@foreach (var item in Model)
{
    @:Review
    <div class="review">
        <h4>@item.Name</h4>
        <span>@item.Raiting</span>
        <p>@item.City, @item.Country</p>
    </div>
    @:}
}
<p>
    <a asp-action="Create">Create New</a>
</p>

